
.icon-bar{
    background: #1f3a93;
}
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('../media/font/Roboto-Black.ttf');
}

body{
    background: #F3F0FE;
  
}

/* HOME */
.content{
    margin: 16px 32px
}

.logo {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}
.title-label{
    text-align: center;
    margin: 8px;
    font-size: 4vw;
    color: #033575;
}

.input{
    border: 1px solid #D8DCE0;
    box-sizing: border-box;
    border-radius: 6px;
    display: block;
    padding: 16px 8px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;

}

input:focus{
    outline: none;
}

.button{
    padding: 12px;
    border: none;
    width: 100%;
    background: #001C43;
    border-radius: 8px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0.015em;
    box-shadow: 10px 10px 23px -9px rgba(0,0,0,0.75);
} 

/* MENU */
.nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: solid 1px #95a5a6;
    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content: space-around;
    background-color: white;
 }
.icon {
    width: 30px;
    transition: width 0.5s;
}

.icon:hover{
    filter: grayscale(100%);
    width: 28px;
}

/* CARD-AULAS */

.card{
    width: 300px;
    /* background-color: white;
    height: 200px;
    border: 1px solid white;
    border-radius: 4px; */
    float: none; 
    margin: 0 auto;
}

.logo-aulas{
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.title-aula{
    text-align: center;
}
